---
import { Image } from 'astro:assets'
import RevealUp from '@/components/RevealUp.astro'
import { apiUrl } from '@/utils'
import type { Category } from '@/interfaces'

const fetchCategories = async (): Promise<Category[]> => {
  try {
    const response = await fetch(`${ apiUrl }/tribe/events/v1/categories?order=asc&orderby=id`)
    const data = await response.json()
    return data.categories
  } catch (error) {
    console.error("Error fetching categories:", error)
    return []
  }
}

const categories: Category[] = await fetchCategories()
---

<ul class="grid grid-cols-[repeat(auto-fill,minmax(400px,1fr))] gap-6">
  { categories.map((category) => (
    <RevealUp>
      <a href="/" class="aspect-[4/3] flex items-center p-8 bg-black overflow-hidden relative group rounded">
        <h2 class="relative z-20 font-inria text-3xl">{ category.name }</h2>
        <Image width={ 410 } height={ 302 } src={ category.image.url } alt={ category.image.alt } class="absolute h-full w-full top-0 left-0 z-10 object-cover opacity-40 group-hover:scale-110 group-hover:opacity-20 transition-all duration-500" />
      </a>
    </RevealUp>
  ))}
</ul>
