---
import Container from '@/components/Container.astro'
import RevealUp from '@/components/RevealUp.astro'
import SectionTitle from '@/components/SectionTitle.astro'
import Layout from '@/layouts/Layout.astro'
import Hero from '@/sections/home/Hero.astro'
---

<Layout title="Nessun Dorma">
	<Container>
		<SectionTitle label='Categorie'/>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<RevealUp>
			<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		<p>iosdhfsdhjf lsdfhjk sdflkh slfkgdslfkgsfdg</p>
		</RevealUp>
	</Container>
</Layout>